Package: i.am.kain.afterglow
Name: YTAfterglow
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Customized YouTube build with theming, downloads, and interface controls
Maintainer: Corey Hamilton
Author: Corey Hamilton
Section: Tweaks
